<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testchat.myapplication">

    <!-- Permission part start -->
    <!-- for get noti/message alarm-->
    <uses-permission android:name="testchat.myapplication.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- for wake up phone -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- get permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- Permission part finish -->

    <!-- Application part start -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_jnu_chat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!-- Serivce part start -->
        <!-- get FCM push noti -->
        <service
            android:name=".PushFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- get/refresh FCM token -->
        <service android:name=".PushFirebaseInstanceIDService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <!-- add dff file -->
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- get notification recieve event -->
        <service
            android:name=".notiListener"
            android:label="notiListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <!-- Serivce part finish -->

        <!-- meta data part start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- meta data part finish -->

        <!-- activity part start -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindinfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".AddfriendActivitiy"
            android:label="@string/title_activity_addfriend_activitiy"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddchatActivity"
            android:label="@string/title_activity_addchat"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- activity part finish -->

    </application>
    <!-- Application part finish -->

</manifest>